:root {
    --dark: #020A18;
    --blue: #3A68B8;
    --white: #FFFFFF;
    --black: #000000;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    background-color: var(--dark);
}

.header {
    margin-bottom: 160px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;
    font-weight: 800;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    line-height: 21px;
}

.top__content {
    margin-bottom: 197px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: var(--blue);
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    width: 600px;
    color: var(--white);
    font-size: 55px;
    line-height: 71.5px;
    font-weight: 800;
    margin-bottom: 40px;
}
.text {
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 70%)
}
.top__buttons {
    width: 408px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.button {
    background-color: var(--blue);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: var(--white);
    cursor: pointer;
}

.video {
    position: relative;
    padding: 15px 30px 15px 66px;
}

.video::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 26px;
    background-image: url("img/video.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.top__logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 99px;
}