.color-red {
  color: #F16D7F;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.main {
  flex: 1;
}

/* Top */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 19px;
}

.menu__list {
  position: absolute;
  top: 79px;
  right: 0;
  width: 232px;
  min-height: 634px;
  background-color: #fff;
  display: none;
  transition: 0.8s ease-in;
  z-index: 10;
}

.active {
  display: block;
}

.menu__list_wrap {
  padding-top: 32px;
  padding-left: 33px;
  padding-bottom: 32px;
}
.menu__list_wrap span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #F16D7F;
  margin-bottom: 12px;
  margin-top: 20px;
}

.menu-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16.8px;
  margin-bottom: 24px;
  color: #222222;
}
@keyframes scale-up-tl {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
  }
}
.menu__list {
  animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.menu__list li {
  list-style-type: none;
  margin-bottom: 11px;
  margin-left: 21px;
}
.menu__list li a {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.icon-cart {
  position: relative;
}

.badge {
  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  top: -7px;
  right: -10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
}

.search svg {
  fill: #E8E8E8;
}

.top__content {
  display: flex;
  align-items: center;
  gap: 63px;
  background-color: #F1E4E6;
  justify-content: center;
}

.top__text {
  text-transform: uppercase;
  width: 405px;
  color: #222222;
  position: relative;
  padding-left: 16px;
}
.top__text::before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.top__img {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.top__text h1 {
  font-size: 48px;
  font-weight: bold;
}

.top__text span {
  font-size: 32px;
  font-weight: bold;
}

.lead {
  color: #F16D7F;
}

/* Offer */
.offer {
  padding-top: 64px;
  margin-bottom: 96px;
}
.offer__items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
  justify-content: center;
}

.item-big {
  grid-column: span 3;
}

.offer__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer__item::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  top: 0;
  left: 0;
}
.offer__item:nth-child(1) {
  background-image: url("img/item1.jpg");
}
.offer__item:nth-child(2) {
  background-image: url("img/item2.jpg");
}
.offer__item:nth-child(3) {
  background-image: url("img/item3.jpg");
}
.offer__item:nth-child(4) {
  background-image: url("img/item4.jpg");
  background-position: 55% 0%;
}
.offer__items_text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.offer__items_text > p:last-child {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.offer__items_text > p:first-child {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}

.products {
  text-align: center;
  margin-bottom: 95px;
}
.products__text {
  margin-bottom: 48px;
}
.products__text h1 {
  margin-bottom: 6px;
}
.products__text p {
  color: #9F9F9F;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 2;
  gap: 30px;
  padding-bottom: 46px;
  justify-content: center;
}
.products__item {
  text-align: left;
  background-color: #F8F8F8;
  border: 1px solid #FFFFFF;
}
.products__img {
  position: relative;
}
.products__item:hover .products__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
}
.products__item:hover .products__button {
  display: block;
}
.products__item h2 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 16px;
}
.products__item p {
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
}
.products__item .price {
  color: #F16D7F;
  margin-top: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.products__text {
  padding-left: 16px;
  padding-right: 29px;
}

.button {
  background-color: inherit;
  border: 1px solid;
  border-color: #FF6A6A;
  color: #F26376;
  padding: 15px 39px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.products__button {
  position: absolute;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  top: 50%;
  left: 50%;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 52px;
  padding-right: 12px;
  z-index: 10;
  transform: translate(-50%, -50%);
  min-height: 44px;
  min-width: 139px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: none;
}
.products__button::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  top: 50%;
  left: 13px;
  background-image: url("img/cart.svg");
  background-repeat: no-repeat;
  background-size: 26px 23px;
  transform: translateY(-50%);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
  color: #FBFBFB;
}
.feature__item h3 {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 16px;
}
.feature__item p {
  font-size: 14px;
  font-weight: 400;
  color: #E8E8E8;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: url("img/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  min-height: 448px;
  position: relative;
}
.subscribe::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
  top: 0;
  left: 0;
  z-index: 2;
}
.subscribe__comment {
  width: 360px;
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.subscribe__email {
  z-index: 3;
  text-transform: uppercase;
}
.subscribe__comment img {
  border-radius: 50%;
  z-index: 1;
  margin-bottom: 30px;
  width: 96px;
  height: 96px;
}
.subscribe__title h3 {
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}
.subscribe__title p {
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}
.subscribe__form {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.subscribe__input {
  background-color: #E1E1E1;
  border: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
  border-radius: 50px 0px 0px 50px;
}
.subscribe__button {
  background-color: #F16D7F;
  border: 0;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 0px 50px 50px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  color: #FBFBFB;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  text-decoration: none;
  transition: all 0.4s ease;
}
.footer__icon:hover {
  background-color: #F16D7F;
}
.footer__icon:hover svg path {
  fill: #FFFFFF;
}

.active__link {
  color: #F16D7F !important;
}

.breadcrumbs {
  min-height: 148px;
  background-color: #F8F3F4;
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__h1 {
  color: #F16D7F;
  font-size: 24px;
  line-height: 28px;
}
.breadcrumbs__link {
  color: #636363;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  display: inline-flex;
  padding-right: 8px;
  padding-left: 8px;
}

.controls {
  min-height: 132px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.controls details > summary {
  list-style-type: none;
  cursor: pointer;
}
.controls__sort {
  display: flex;
  gap: 28px;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
}

.filter-box {
  width: 360px;
  position: relative;
  z-index: 20;
}

.filter {
  padding: 13px 16px 16px;
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
}
.filter__item__summary {
  position: relative;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.filter__item__summary::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.filter__item__summary::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #EBEBEB;
  bottom: 14px;
  left: 0;
}
.filter__content summary {
  list-style-type: none;
}
.filter__item[open] .filter__item__summary {
  color: #F16D7F;
}
.filter__summary {
  background-color: inherit;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.filter[open] {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__link-box {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-flow: column nowrap;
  gap: 11px;
}
.filter__link-box a {
  text-decoration: none;
  padding-left: 17px;
  color: #6F6E6E;
}

.details__sort {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary__sort {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.details__box {
  position: absolute;
  top: 22px;
  left: -9px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  width: 80px;
  gap: 6px;
  z-index: 20;
  padding: 7px 9px 11px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
}
.details__box label {
  display: flex;
  gap: 9px;
}

.breadcrumbs__h1 {
  font-size: 24px;
  font-weight: 400;
}

.cart {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  gap: 128px;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.cart__btn {
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.cart__btn:hover {
  color: #F16D7F;
}
.cart__adress-btn {
  align-self: start;
  font-size: 11px;
  color: #A4A4A4;
}
.cart__adress__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__input {
  height: 45px;
  padding-left: 17px;
  width: 360px;
  border: 1px solid #A4A4A4;
}
.cart__input .cart__btn {
  padding: 11px 15px;
}
.cart__items {
  width: 652px;
}
.cart__item {
  position: relative;
  width: 652px;
  display: flex;
  gap: 31px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  margin-bottom: 40px;
}
.cart__item-close {
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart__item-close:hover path {
  fill: #F16D7F;
}
.cart__item-img {
  width: 262px;
  height: 306px;
}
.cart__item__content {
  padding-top: 22px;
  width: 262px;
}
.cart__item__content__heading {
  padding-bottom: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #222222;
}
.cart__item__content__heading:hover {
  color: #F16D7F;
}
.cart__item__content__p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 6px;
  color: #575757;
}
.cart__item__content__price {
  color: #F16D7F;
}
.cart__item__content__input {
  margin-left: 24px;
  width: 44px;
  border: 1px solid;
  border-color: #EAEAEA;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  border-radius: 1px;
}
.cart__price {
  margin-top: 57px;
  background-color: #F5F3F3;
  width: 360px;
  min-height: 214px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
}
.cart__price__content {
  position: relative;
  text-align: right;
}
.cart__price__content::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
  bottom: -21px;
  left: 0;
}
.cart__price__content__sub {
  margin-top: 39px;
  font-size: 11px;
  font-weight: 400;
}
.cart__price__content__grand {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
}
.cart__price__button {
  background-color: #F16D7F;
  border: none;
  padding: 15px 42px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 39px;
  cursor: pointer;
}

.registration-box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 22px;
  align-items: baseline;
  padding-top: 64px;
  padding-bottom: 96px;
}

.registration__form {
  flex: 0 0 360px;
}
.registration__form__heading {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.registration__content {
  flex: 0 0 652px;
  font-size: 24px;
  font-weight: 400;
}
.registration__list {
  margin-top: 21px;
  list-style-type: none;
}
.registration__item {
  padding-bottom: 16px;
  background-image: url(img/check_mark.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 38px;
}
.registration__heading {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  margin-bottom: 22px;
}
.registration__input {
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 45px;
  padding-left: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline-color: #F16D7F;
}
.registration__input__checkbox {
  margin-bottom: 33px;
}
.registration__input__checkbox__item {
  display: none;
}
.registration__input__checkbox__item:checked + .registration__custom-checkbox {
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.registration__custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.registration__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.registration__button {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 29px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100 vw;
  background-color: #F7F7F7;
}
.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider-btn {
  position: absolute;
  display: block;
  padding: 12px 18px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.slider-btn:hover {
  cursor: pointer;
}
.slider-btn:hover path {
  fill: #F16D7F;
}
.slider-left {
  left: 0;
}
.slider-right {
  right: 0;
}

.collection {
  margin-bottom: 128px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.collection__heading {
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
  position: relative;
  padding-top: 64px;
  text-transform: uppercase;
}
.collection__heading::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 63px;
  background-color: #F16D7F;
}
.collection__subheading {
  padding-top: 28px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #4D4D4D;
}
.collection__text {
  width: 555px;
  text-align: center;
  margin: 0 auto;
  padding-top: 49px;
  font-size: 14px;
  font-weight: 400;
  color: #5E5E5E;
}
.collection-box {
  flex: 1 1 1141px;
  margin-top: -63px;
  background-color: #FFFFFF;
  text-align: center;
  min-height: 601px;
  border: 1px solid #EAEAEA;
}
.collection__price {
  color: #F16D7F;
  padding-top: 33px;
  font-size: 24px;
  line-height: 28px;
  position: relative;
}
.collection__price::before {
  content: "";
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 1px;
  background-color: #EAEAEA;
}
@media (max-width: 767px) {
  .collection__price::before {
    width: 142px;
  }
}
.collection__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 57px 15px 57px;
  margin: 0 auto;
  margin-top: 48px;
  transition: all 0.3s ease;
  gap: 22px;
}
.collection__button:hover path {
  fill: #FFFFFF;
  transition: all 0.3s ease;
}
.collection__controls {
  padding-top: 130px;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
}
.offer__items {
  grid-template-columns: repeat(3, 310px);
  gap: 25px;
}

.products__items {
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: auto;
  grid-template-areas: "a a";
  gap: 30px;
  padding-bottom: 46px;
}

/* 768-1024 */
@media (max-width: 1024px) {
  .navbar-left {
    margin-left: 64px;
  }
  .navbar-right {
    margin-right: 64px;
  }
  .center {
    padding-left: calc(50% - 496px);
    padding-right: calc(50% - 496px);
  }
  .top__text h1 {
    font-size: 46px;
  }
  .top__text span {
    font-size: 30px;
  }
  .offer__items {
    grid-template-columns: repeat(3, 310px);
    gap: 25px;
  }
  .products__items {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: auto;
    grid-template-areas: "a a";
    gap: 30px;
    padding-bottom: 46px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .center {
    padding-left: calc(50% - 336px);
    padding-right: calc(50% - 336px);
  }
  .top__text h1 {
    font-size: 44px;
  }
  .top__text span {
    font-size: 24px;
  }
  .products__items {
    gap: 16px;
  }
  .products__text h1 {
    font-size: 30px;
  }
  .offer__items {
    grid-template-columns: repeat(3, 233px);
    grid-template-rows: 167px 116px;
    gap: 20px;
  }
}
/* 320-767 */
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 288px);
    padding-right: calc(50% - 288px);
  }
  .footer {
    flex-flow: column-reverse wrap;
    justify-self: flex-end;
  }
  .footer__socials {
    margin-bottom: 40px;
  }
  .subscribe {
    flex-flow: column wrap;
    justify-content: center;
    min-height: 550px;
    background-position: 28% 30%;
  }
  .subscribe__comment {
    margin-bottom: 59px;
  }
  .feature {
    flex-flow: column wrap;
  }
  .feature__item {
    width: 320px;
  }
  .subscribe__comment {
    width: 320px;
  }
  .subscribe__email {
    width: 320px;
  }
  .products__items {
    grid-template-columns: 320px;
    grid-template-rows: auto;
    grid-template-areas: "a";
    gap: 16px;
    padding-bottom: 46px;
  }
  .offer__items {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 248px 248px 248px 111px;
    grid-template-areas: "a";
    gap: 32px;
    justify-content: center;
  }
  .item-big {
    grid-column: 1;
  }
  .top__img {
    display: none;
  }
  .top__text h1 {
    font-size: 38px;
  }
  .top__text span {
    font-size: 20px;
  }
  .top__text {
    text-align: center;
  }
  .top__content {
    min-height: 363px;
  }
  .user {
    display: none;
  }
  .icon-cart {
    display: none;
  }
  .navbar-right {
    margin-right: 26px;
  }
  .navbar-left {
    margin-left: 16px;
  }
  .top__text::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 61px;
    background-color: #F16D7F;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
  .registration {
    text-align: center;
  }
  .registration__form {
    flex: 0 0 320px;
  }
  .registration__input {
    width: 320px;
  }
  .registration__content {
    flex-basis: 320px;
  }
  .registration__text {
    width: 320px;
  }
  .breadcrumbs {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */