:root {
    --dark: #222222;
    --grey: #E8E8E8;
    --secondary: #F1E4E6;
    --red: #F16D7F;
    --white: #FFFFFF;
}
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Lato", sans-serif;
}
svg {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* Top */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding-top: 18px;
    padding-bottom: 19px;
}
.menu__list {
    position: absolute;
    top: 79px;
    right: 0;
    width: 232px;
    min-height: 634px;
    background-color: #fff;
    display: none;
    transition: 0.8s ease-in;
    z-index: 10;
}

.active {
    display: block;
}
.menu__list_wrap {
    padding-top: 32px;
    padding-left: 33px;
    padding-bottom: 32px;
}

.menu__list_wrap span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--red);
    margin-bottom: 12px;
    margin-top: 20px;
}
.menu-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16.8px;
    margin-bottom: 24px;
    color: var(--dark)

}
.menu__list li {
    list-style-type: none;
    margin-bottom: 11px;
    margin-left: 21px;
}

.menu__list li a {
    text-decoration: none;
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 41px; 
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 33px;
}
.cart {
    position: relative;
}
.badge {
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: var(--red);
    top: -7px;
    right: -10px;
    text-align: center;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
}


.search svg {
   fill: var(--grey);
}

.top__content {
    display: flex;
    align-items: center;
    gap: 63px;
    background-color: #F1E4E6;

}
.top__text {
    text-transform: uppercase;
    width: 405px;
    color: #222222;
    position: relative;

}
.top__text::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: var(--red);
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
}
.top__img {
    width: 50vw;
    display: flex;
    justify-content: flex-end;

}
.top__text h1 {
    font-size: 48px;
    font-weight: bold;
}
.top__text span {
    font-size: 32px;
    font-weight: bold;
}

.lead {
    color: var(--red);
}

/* Offer */

.offer {
    padding-top: 64px;
    margin-bottom: 96px;
}

.offer__items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
    justify-content: center;
}

.item-big {
    grid-column: span 3;
}

.offer__item img {
    filter: brightness(40%)

}

.offer__item {
    position: relative;
}

.offer__items_text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.offer__items_text > p:last-child{
    color: var(--red);
    font-size: 24px;
    font-weight: 700;
}
.offer__items_text > p:first-child{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}
.products {
    text-align: center;
    margin-bottom: 60px;
}
.products__text {
    margin-bottom: 48px;
}
.products__text h1 {
    margin-bottom: 6px;
}
.products__text p {
    color: #9F9F9F;
}
.products__items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 2;
    gap: 30px;
    padding-bottom: 46px;
    justify-content: center;
}
.products__item {
    text-align: left;
    background-color: #F8F8F8;
    border: 1px solid var(--white);
}
.products__item h2 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 16px;
}

.products__item p {
    font-size: 14px;
    font-weight: 300;
    color: #5D5D5D;
}

.products__item .price {
    color: var(--red);
    margin-top: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.products__item_text {
    padding-left: 16px;
    padding-right: 29px;
}
.button {
    background-color: inherit;
    border: 1px solid;
    border-color: #FF6A6A;
    color: #F26376;
    padding: 15px 39px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;

}


/* 768-1024 */

@media (max-width: 1025px){    

    .navbar-left {
        margin-left: 64px;
    }
    .navbar-right {
        margin-right: 64px;
    }

    .center {
        padding-left: calc(50% - 496px);
        padding-right: calc(50% - 496px);
    }
    .top__text h1 {
        font-size: 46px;
    }
    .top__text span {
        font-size: 30px;
    }

    .offer__items {
        grid-template-columns: repeat(3, 310px);
        gap: 25px;
    }

    .products__items {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: auto;
        grid-template-areas: "a a";
        gap: 30px;
        padding-bottom: 46px;
    }
}

@media (min-width: 767px) {
    .top__text h1 {
        font-size: 44px;
    }
    .top__text span {
        font-size: 24px;
    }
    .products__items {
        gap: 16px;
    }
    .products__text h1 {
        font-size: 30px;
    }

    .offer__items {
        grid-template-columns: repeat(3, 233px);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }
}